<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SE.TAO.Properties.Settings.SEConnectionString" connectionString="Data Source=DESKTOP-2P622M1\SQLEXPRESS;Initial Catalog=SE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE.TAO.Properties.Settings.SE_NEWConnectionString"
            connectionString="Data Source=DESKTOP-2P622M1\SQLEXPRESS;Initial Catalog=SE_NEW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE.TAO.Properties.Settings.SE_NewConnectionString1"
            connectionString="Data Source=DESKTOP-UUV7A6H\SQLEXPRESS;Initial Catalog=SE_New;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE.TAO.Properties.Settings.SEConnectionString1" connectionString="Data Source=DESKTOP-UUV7A6H\SQLEXPRESS;Initial Catalog=SE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE.TAO.Properties.Settings.SEDBConnectionString" connectionString="Data Source=DESKTOP-UUV7A6H\SQLEXPRESS;Initial Catalog=SEDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SE.TAO.Properties.Settings.SEConnectionString2" connectionString="Data Source=DESKTOP-UUV7A6H\SQLEXPRESS;Initial Catalog=SE;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>